<body style="padding-top: 100px; padding-bottom: 100px">


  <div class="container">
    <!-- * TITLE AREA * -->
    <div class="row text-center">
      <div class="col-md-12 text-center ">
        <h1 class="title">AstroChat 3000</h1>
        <p class="description">The only chat room you need! Unless you find one that's better.</p>
      </div>

    </div>

    <!-- * APP AREA * -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card indexCard">
          <div class="card-body">
            <h2>Welcome!</h2>

            <p>This is a simple chat room you can use to speak with happy like-minded people in a safe environment. Totally not an alien built mind control device or CIA surveillance bot.</p>
            <hr>
            <p>Already registered? Login <a href="/login">here</a>.</p>
            <p>No account? Register <a href="/register">here</a>.</p>

          </div>
        </div>
      </div>
    </div>



  </div>



</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>