.list-group-item {
  line-height: 2.5;
}

.card {
  
  box-shadow: 0px 0px 15px #ffffff !important;
}

.indexCard{
  margin-top: 12px;
}


body {
  font-family: 'Montserrat', sans-serif;
  background: url("../images/nightsky.jpg") no-repeat;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
   background: ghostwhite ;
   padding: 8px;
}

li:nth-child(odd) {
   background: rgb(215, 233, 240)
}

.title {
  color:white;
  font-size: 80px !important;
}

.description {
  color:white;
  font-size: 30px !important;
}

#messageWindow {
  overflow-y: scroll;
  height: 400px;
}

.message_text {
  font-size: 25px;
}

.message_info {
  font-size: 12px;

}

.logoutButton {
  font-size: 20px;
  color: white;
  text-align: right;
}
